body{
  background-color:	#f2f2f2;
  font-family: 'roboto-light';
}

nav{
  background-color: #e6e6e6!important;
}

a{
  text-decoration:none;
}

a:hover{
  text-decoration:none;
}

.arrow{
  margin:40px;
  width:150px;
  height:150px;
}

.padding-10px{
  padding:15px;
}

.margin-10px{
  margin:10px;
  margin-left: 0;
}

.margin-top-20p{
  margin-top:20%;
}

.margin-top-left-15px{
  margin-top:15px;
  margin-left: 15px;
}

.margin-top-30px{
  margin-top:30px;
}

a.game-title{
  font-family: 'RINGBEARER';
  color:#5b2b06!important;
  font-size:32px;
}

.inline-info{
  display:flex;
  align-items: center;
  justify-content: space-around;
  padding:20px;
}

.aligned{
  height:100%:
}

.game-description{
  margin-left: 150px;
  margin-right: 150px;
  padding:100px;
  text-align: center;
  font-family: 'hack';
  font-size: 16px;
}

.game-description h3{
  padding-bottom:25px;
}

.pixel-button{
  font-family:'pixeled';
  color:#8B0000!important;
}

.pixel-button:hover{
  font-weight:bolder;
  color:#5b2b06;
}

.map{
  height:675px;
  width:450px;
}

td.case{
  width:30px!important;
  height:30px!important;
  padding:0!important;
  background-color:	#e6e6e6;
  text-align: center;
}

/****************************************************************************/
/* ANIMATIONS */
/****************************************************************************/

.popup {
	margin-top: 25px;
	display: none;
}

.popup .overflow{
	display: block;
	position: fixed;
	top : 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.9);
}

.showMe {
	display: block!important;
	opacity: 1;
	animation: fadeOut 2s ease-in-out;
    -moz-animation: fadeOut 2s ease-in-out;
    -webkit-animation: fadeOut 2s ease-in-out;
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	display:block !important;
}


@keyframes fadeOut {
    0% {
        opacity:0;
        display: block;
    }
    100% {
        opacity:1;
        display: none;
    }
}
@-moz-keyframes fadeOut {
    0% {
        opacity:0;
        display: block;
    }
    100% {
        opacity:1;
        display: none;
    }
}
@-webkit-keyframes fadeOut {
    0% {
       opacity:0;
        display: block;
    }
    100% {
        opacity:1;
        display: none;
    }
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}
